
.banner{
	width:100%;
	margin-bottom:30px;
	}
.banner img{
	width:100%;
	}
.sidebar{
	width:177px;
	float:left;
	margin-right:45px;
	border:2px solid #bd7c45;
	padding-bottom:28px;
	}
.sidebar div{
	width:177px;
	height:70px;
	background-color:#bd7c45;
	color:#f2e8e4;
	text-align:center;
	font-size:24px;
	overflow:hidden;
	}
.sidebar div h1{
	margin-top:5px;
	}
.sidebar ul li{
	width:150px;
	height:70px;
	text-align:center;
	line-height:70px;
	border-bottom:1px solid #bd7c45;
	margin:0 auto;
	}
.sidebar ul li a{
	color:#0d0909;
	font-size:18px;
	}
.content_right{
	width:926px;
	float:right;
	}
.content_top{
	height:26px;
	width:926px;
	background-image:url(../images/357.png);
	background-repeat:no-repeat;
	background-position:bottom left;
	}
.content_top h1{
	float:left;
	font-size:16px;
	color:#000;
	margin-right:10px;
	margin-bottom:5px;
	}
.content_top h2{
	float:left;
	font-size:16px;
	color:#bd7c45;
	margin-bottom:5px;
	}
.content_top div{
	margin-top:5px;
	float:right;
	margin-right:17px;
	
	}
.location ul li{
	font-size:12px;
	color:#000;
	float:left;
	}
.location ul li a{
	font-size:12px;
	color:#000;
	}
.location ul li:hover a{
	color:#ff0000;
	}
.location ul li.on a{
	color:#ff0000;
	}
.main{
	padding-bottom:28px;
	padding-top:22px;
	}
.main img{
	float:left;
	margin-right:14px;
	margin-bottom:14px;
	}
.main p{
	font-size:12px;
	color:#333;
	text-indent:2em;
	line-height:28px;
	margin-bottom:10px;
	font-family:宋体;
	}
/*.main p:nth-of-type(5){
	clear:both;
	behavior:url("PIE.htc");
	}*/
.sidebar ul li a{
	display:block;
	}
.sidebar ul li.on a{
	color:#bd7c45;	
	}
.sidebar ul li.on{
	background-image:url(../images/8.png);
	background-repeat:no-repeat;
	background-position:10px 23px;
	}
.sidebar ul li:hover a{
	color:#bd7c45;	
	}
.sidebar ul li:hover{
	background-image:url(../images/8.png);
	background-repeat:no-repeat;
	background-position:10px 23px;
	}
.about-text{
	width:465px;
	float:left;
	}
