.content{
	margin-bottom:40px;
	}
.banner{
	width:100%;
	margin-bottom:30px;
	}
.banner img{
	width:100%;
	}
.contact-top{
	height:53px;
	}
.contact-top h1{
	float:left;
	font-size:16px;
	color:#000;
	margin-right:10px;
	}
.contact-top h2{
	float:left;
	font-size:16px;
	color:#bd7c45;
	}
.contact-top div{
	float:right;
	margin-right:17px;
	font-size:12px;
	color:#000;	
	}
.location ul li{
	font-size:12px;
	color:#000;
	float:left;
	}
.location ul li a{
	font-size:12px;
	color:#000;
	}
.location ul li:hover a{
	color:#ff0000;
	}
.location ul li.on a{
	color:#ff0000;
	}
.map{
	height:400px;
	}
.contact-list{
	width:40%;
	padding-top:62px;
	float:left;
	}
.msg{
	width:60%;
	float:left;
	}
.contact-list p{
	margin-bottom:22px;
	font-size:14px;
	color:#333;
	margin-left:200px;
	}
.contact-list p:nth-of-type(4){
	margin-bottom:45px;
	behavior:url("PIE.htc");
	}
.msg input{
	width:290px;
	height:32px;
	border-radius:10px;
	border:1px solid #cfa972;
	line-height:32px;
	text-indent:8px;
	behavior:url("PIE.htc");
	}
.msg .name{
	margin-bottom:24px;
	margin-left:100px;
	}
.msg .tel{
	margin-bottom:24px;
	margin-left:100px;
	}
.msg .email{
	margin-bottom:24px;
	margin-left:100px;
	}
.msg .msg-bottom{
	margin-bottom:24px;
	margin-left:100px;
	}
.msg .code{
	margin-bottom:24px;
	margin-left:83px;
	}
.msg .btn{
	margin-bottom:24px;
	margin-left:100px;
	}
.msg span{
	font-size:18px;
	color:#333;
	}
.msg div:nth-of-type(1){
	margin-top:30px;
	behavior:url("PIE.htc");
	}
.msg div:nth-of-type(4) span{
	float:left;
	behavior:url("PIE.htc");
	}
.msg div textarea{
	width:399px;
	height:162px;
	border:1px solid #cfa972;
	border-radius:10px;
	padding:7px;
	behavior:url("PIE.htc");
	}
.msg div:nth-of-type(5) input{
	width:152px;
	height:32px
	behavior:url("PIE.htc");
	}
.msg div:nth-of-type(5) img{
	border:1px solid #cfa972;
	border-radius:10px;
	margin:0px 14px;
	behavior:url("PIE.htc");
	}
.msg div:nth-of-type(6) input{
	border:1px solid #cfa972;
	border-radius:10px;
	width:88px;
	height:34px;
	margin-right:43px;
	behavior:url("PIE.htc");
	text-indent:0px;
	text-align:center;
	line-height:34px;
	}
.msg div:nth-of-type(5) .more{
	color:#bd7c45;
	font-size:14px;
	border-bottom:1px solid #bd7c45; 
	behavior:url("PIE.htc");
	}