<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>后台-英雄联盟</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="__ADMIN__/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="__ADMIN__/css/font.css">
    <link rel="stylesheet" href="__ADMIN__/css/xadmin.css">
    <script type="text/javascript" src="__ADMIN__/js/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="__ADMIN__/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__ADMIN__/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="x-body">
        <form class="layui-form">
          <div class="layui-form-item">
              <label for="L_email" class="layui-form-label">
                  <span class="x-red">*</span>英雄阵营
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="campname" name="campname" autocomplete="off" class="layui-input" value="{$row.campname|default=''}">
                  <input type="hidden" class="hidden" value="{$campid}" >
              </div>
              <div class="layui-form-mid layui-word-aux">
                  <span class="x-red">*</span>英雄阵营必须填写
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              {if $campid eq true}
                        <button  type="button" class="layui-btn" lay-filter="add" lay-submit="">
                            修改英雄阵营
                        </button>
              {else /}
                      <button  type="button" class="layui-btn" lay-filter="add" lay-submit="">
                              增加英雄阵营
                      </button>
              {/if}
          </div>
      </form>
    </div>
    <script type="text/javascript">
            $(".layui-btn").click(function(){
                    var campname = $("#campname").val();
                    var campid = $(".hidden").val();
                    var url = "{url('Campcate/add')}";
                    var data = {"campname":campname,"campid":campid}
                    $.post(url,data,function(res){
                            if(res.status==1){
                                    layer.msg(res.msg,{time:1000});
                                    setTimeout(function(){
                                           parent.location.reload();
                                    },1000)
                            }else{
                                    layer.msg(res.msg,{time:1000});
                            }
                    },'json')
            })
    </script>
  </body>

</html>
