<!DOCTYPE html>
<html>

<head>
        <meta charset="UTF-8">
        <title>后台-英雄联盟</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="__ADMIN__/css/font.css">
        <link rel="stylesheet" href="__ADMIN__/css/xadmin.css">
        <link rel="stylesheet" href="__ADMIN__/lib/layui/css/layui.css">
        <script type="text/javascript" src="__ADMIN__/js/jquery-3.1.1.js"></script>
        <script type="text/javascript" src="__ADMIN__/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="__ADMIN__/js/xadmin.js"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
        <div class="x-nav">
                <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>导航元素</cite></a>
      </span>
                <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
        </div>
        <div class="x-body">
                <div class="layui-row">
                        <span class="layui-form layui-col-md12 x-so">
          <!-- <input class="layui-input" placeholder="开始日" name="start" id="start">
          <input class="layui-input" placeholder="截止日" name="end" id="end"> -->
          <input type="text" id="keyword"  placeholder="请输入用户名" autocomplete="off" class="layui-input">
          <button class="layui-btn" onclick="searchData()" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </span>
                </div>
                <xblock>
                        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
                        <button class="layui-btn" onclick="x_admin_show('添加用户','{:url('Campcate/add')}',600,400)"><i class="layui-icon"></i>添加</button>
                        <span class="x-right" style="line-height:40px">共有数据：<b>{$count}</b>&nbsp;条</span>
                </xblock>
                <table class="layui-table">
                        <thead>
                                <tr>
                                        <th>
                                                <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
                                        </th>
                                        <th>ID</th>
                                        <th>阵营</th>
                                        <th>状态</th>
                                        <th>操作</th>
                                </tr>
                        </thead>
                        <tbody>
                        </tbody>
                </table>
                <div class="page">
                        <div id="demo7"></div>
                </div>
        </div>

        <script type="text/javascript">
                //搜索
                function searchData() {
                        layui.use('laypage', function() {
                                var keyword = $('#keyword').val();
                                var laypage = layui.laypage;
                                var count = $('.x-right b').text();
                                laypage.render({
                                        elem: 'demo7',
                                        count: count,
                                        limits: [5, 10, 15, 20, 30, 50],
                                        layout: ['count', 'prev', 'page', 'next', 'limit', 'skip'],
                                        jump: function(obj, first) {
                                                //渲染模板
                                                if (count == 0 || !count) {
                                                        $('#demo7').hide();
                                                } else {
                                                        $('#demo7').show();
                                                }
                                                pageinfo(obj.curr, obj.limit, keyword);
                                        }
                                });
                        });
                }
                //Layuiajax分页
                layui.use('laypage', function() {
                        var keyword = $('#keyword').val();
                        var laypage = layui.laypage;
                        var count = $('.x-right b').text();
                        laypage.render({
                                elem: 'demo7',
                                count: count,
                                limits: [5, 10, 15, 20, 30, 50],
                                layout: ['count', 'prev', 'page', 'next', 'limit', 'skip'],
                                jump: function(obj, first) {
                                        //渲染模板
                                        if (count == 0 || !count) {
                                                $('#demo7').hide();
                                        } else {
                                                $('#demo7').show();
                                        }
                                        pageinfo(obj.curr, obj.limit, keyword);
                                }
                        });
                });

                function pageinfo(onepage, num, keyword) {
                        $.ajax({
                                type: "post",
                                url: "{:url('Campcate/index')}",
                                data: {
                                        "onepage": onepage,
                                        "num": num,
                                        "keyword": keyword
                                },
                                success: function(data) {
                                        var html = '';
                                        if (data['data'].length > 0) {
                                                for (var i = 0; i < data["data"].length; i++) {
                                                        html += '<tr>';
                                                        html += '<td>';
                                                        html += '<div class="layui-unselect layui-form-checkbox header" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>';
                                                        html += '</td>';
                                                        html += '<td>' + data["data"][i]["campid"] + '</td>';
                                                        html += '<td>' + data["data"][i]["campname"] + '</td>';
                                                        html += '<td>';
                                                        html += '<span class="layui-btn layui-btn-normal layui-btn-mini ' + data["data"][i]["style"] + ' ">' + data["data"][i]["status"] + '</span>';
                                                        html += '</td>';
                                                        html += '<td class="td-manage">';
                                                        html += '<a onclick="member_stop(this,' + data["data"][i]["campid"] + ')" href="javascript:;"><i class="layui-icon">&#xe601;</i></a>';
                                                        html += '<a href="javascript:;" title="编辑" onclick="x_admin_show("编辑","{:url("Campcate/add")}?id=' + data["data"][i]["campid"] +
                                                                ' ")"><i class="layui-icon">&#xe642;</i></a>';
                                                        html += '<a onclick="conform(' + data["data"][i]["campid"] + ')" href="javascript:;" title="删除"><i class="layui-icon">&#xe640;</i></a>';
                                                        html += '</td>';
                                                        html += '</tr>';
                                                }
                                        } else {
                                                html += '<tr align="center"><td>暂无符合条件的数据记录</td></tr>';
                                        }
                                        $('.x-right b').text(data['count']);
                                        $(".layui-table tbody").html(html);
                                }
                        });
                }
                /*用户批量-删除*/
                function delAll(campids) {
                        var id = [];
                        var id = new array()
                        var data = tableCheck.getData();
                }
                /*用户-删除*/
                function conform(campid) {
                        layer.confirm('确认要删除阵营吗？', {
                                btn: ['确定', '取消'],
                                title: "小狐狸提醒您",
                        }, function() {
                                var url = "{:url('Campcate/del')}";
                                var data = {
                                        "campid": campid
                                };
                                $.post(url, data, function(res) {
                                        if (res.status == 1) {
                                                layer.msg(res.msg, {
                                                        icon: 6
                                                });
                                                window.location.reload();
                                        } else {
                                                layer.msg(res.msg, {
                                                        icon: 5
                                                });
                                        }
                                }, 'json')
                        }, function() {});
                }

                /*用户-启用*/
                function member_stop(obj, campid) {
                        if ($(obj).parents('tr').find('span').hasClass('layui-btn-disabled')) {
                                var info = '确认要启用吗？';
                                var data1 = '启用';
                                var data2 = '不启用';
                        } else {
                                var info = '确认要停用吗？';
                                var data1 = '停用阵营';
                                var data2 = '不停用阵营';
                        }
                        layer.confirm(info, {
                                btn: [data1, data2],
                                title: "小狐狸提醒您",
                        }, function() {
                                var url = "{:url('Campcate/stop')}";
                                var data = {
                                        "campid": campid
                                };
                                $.post(url, data, function(res) {
                                        if (res.status == 1) {
                                                layer.msg(res.msg, {
                                                        icon: 6,
                                                        time: 5000
                                                });
                                                $(obj).parents('tr').find('span').addClass(res.style);
                                                $(obj).parents('tr').find('span').text(res.title);
                                                setTimeout(function() {
                                                        window.location.reload();
                                                }, 1500)
                                        } else {
                                                layer.msg(res.msg, {
                                                        icon: 5,
                                                        time: 5000
                                                });
                                        }
                                }, 'json')
                        }, function() {

                        });
                }
        </script>
</body>

</html>
